<mat-card class="config" [formGroup]="configForm">
  <mat-card-header>
    <mat-card-title>NgxFileParserConfig</mat-card-title>
    <mat-card-subtitle>Test configuration</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="config__content">
    <mat-form-field>
      <mat-label>Button text</mat-label>
      <input matInput placeholder="Ex. Choose file" formControlName="btnText" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Button colors</mat-label>
      <mat-select formControlName="buttonColor">
        <mat-option *ngFor="let color of buttonColors" [value]="color">
          {{ color }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>File extensions</mat-label>
      <mat-select formControlName="accepts" multiple>
        <mat-option *ngFor="let ext of supportedFiles" [value]="ext">
          {{ ext }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox formControlName="csvNamedProperties">
      Csv named properties
    </mat-checkbox>
  </mat-card-content>
</mat-card>
