.app {
  &__content {
    width: 100%;
    max-width: 50rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
  }
  &__file-button {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
  &__results {
    margin-top: 1rem;
    padding: 0 1rem;
  }
}
